// colors
$main: #0055B8;
$white: #fff;
$black: #000000;
$lite-blue: #00B2E2;
$dark-blue: #00308C;
$green: #0ED1B3;
$lite-bg: #EDF8FF;
$gray-color: #2a2a2a;
$text-color: #b1b1b1;

// media
$md: 991.98px;
$sm: 767.98px;
$xs: 575.98px
